{#
/**
 * @file visited_terms.html.twig
 * Default theme implementation to present Visited terms data.
 *
 * This template is used when viewing Visited terms pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_visited_terms()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('visited_terms') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
